body {
    margin: 0;
    padding: 0;
    background-image: url("ALL_BG.png");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 150px; /* Adjust to push buttons below the header */
}

.button {
    width: 150px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}
