<!DOCTYPE html>
<html>
<head>
    <title>Add Job Card</title>
</head>
<body>
    <h1>Add Job Card</h1>
    <form method="post">
        <label>Job ID:</label>
        <input type="text" name="job_id" required><br>
        <label>Country Name:</label>
        <input type="text" name="country_name" required><br>
        <label>Company Name:</label>
        <input type="text" name="company_name" required><br>
        <label>Company ID:</label>
        <input type="text" name="company_id" required><br>
        <label>Dated:</label>
        <input type="date" name="dated" required><br>
        <label>Good Name:</label>
        <input type="text" name="good_name" required><br>
        <label>Good ID:</label>
        <input type="text" name="bill_no" required><br>
        <label>Bill_no:</label>
        <input type="text" name="status_id" required><br>
        <label>Status ID:</label>
        <input type="text" name="category_id" required><br>
        <label>Category ID:</label>
        <input type="text" name="good_id" required><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
