<!DOCTYPE html>
<html>
<head>
    <title>Add Account</title>
</head>
<body>
    <h1>Add Account</h1>
    <form method="post">
        <label>Bill ID:</label>
        <input type="text" name="bill_no" required><br>
        <label>Item Cost:</label>
        <input type="text" name="item_cost" required><br>
        <label>Duties:</label>
        <input type="text" name="duties" required><br>
        <label>Taxes:</label>
        <input type="text" name="taxes" required><br>
        <label>Total Cost:</label>
        <input type="text" name="total_cost" required><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
